@import "tailwindcss";

@theme {
  --font-sans:
    Nunito Sans, ClaityCity, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-main-50: #7f0000;
  --color-main-100: #690000;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }

  body {
    @apply text-left bg-gray-50 wrap-break-word text-lg lg:text-xl leading-[1.7];
  }

  main {
    @apply bg-gray-50;
  }

  a {
    @apply text-main-50;
  }
  a:hover {
    @apply text-main-100;
  }

  h1 {
    @apply mb-2 text-3xl lg:text-4xl leading-[1.2];
  }
  h2 {
    @apply mb-2 text-2xl lg:text-3xl leading-[1.2];
  }
  h3 {
    @apply mb-2 text-xl lg:text-2xl leading-[1.2];
  }
  h4 {
    @apply mb-2 text-lg lg:text-xl leading-[1.2];
  }

  section{
    @apply mb-8;
  }

  p {
    @apply mb-4;
  }

  table {
    @apply w-full;
  }

  code {
    @apply p-1.5 bg-slate-300 rounded-xs;
  }

  strong,
  b {
    @apply font-bold;
  }

  blockquote {
    @apply border-l-4 border-main-50 pl-5 m-0 text-lg;
  }

  ul {
    @apply list-disc list-outside mb-2;
  }
  ol {
    @apply list-decimal list-outside mb-2;
  }
  li {
    @apply ml-7;
  }

  pre {
    @apply p-6 rounded-lg whitespace-pre-wrap;
  }
  pre > code {
    all: unset;
  }

  hr {
    @apply border-t border-gray-200;
  }
}

@layer components {
  .btn-white-outline{
    @apply text-white bg-transparent hover:bg-white hover:text-black rounded-md px-5 py-2.5 border-2 border-white;
  }

  .btn-main-outline{
    @apply text-main-50 bg-transparent hover:bg-main-50 hover:text-white rounded-md px-5 py-2.5 border-2 border-main-50;
  }

  .card {
    @apply  p-6 bg-white border border-gray-200 rounded-lg shadow-sm;
  }

  .striped-bg-orange {
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-orange-100) 0 10px,
      var(--color-orange-300) 10px 20px
    );
  }

  .striped-bg-blue {
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-blue-100) 0 10px,
      var(--color-blue-300) 10px 20px
    );
  }

  .striped-bg-red {
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-red-100) 0 10px,
      var(--color-red-300) 10px 20px
    );
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: "ClarityCity";
  src: url("/fonts/ClarityCity-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClarityCity";
  src: url("/fonts/ClarityCity-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.latest_news a {
  color: white;
}
