@import "tailwindcss";

@theme {
  --font-sans:
    Nunito Sans, ClaityCity, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-main-50: #7f0000;
  --color-main-100: #690000;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }

  body{
	@apply text-left bg-gray-50 wrap-break-word text-xl leading-[1.7]
  }

  a {
    @apply text-main-50;
  }
  a:hover {
    @apply text-main-100;
  }

  h1 {
    @apply mb-2 text-4xl leading-[1.2];
  }
  h2 {
    @apply mb-2 text-3xl leading-[1.2];
  }
  h3 {
    @apply mb-2 text-2xl leading-[1.2];
  }
  h4 {
    @apply mb-2 text-xl leading-[1.2];
  }

  p {
    @apply mb-4;
  }

  table {
    @apply w-full;
  }

  code {
    @apply p-1.5 bg-slate-300 rounded-xs;
  }

  strong,
  b {
    @apply font-bold;
  }

  blockquote {
    @apply border-l-4 border-main-50 pl-5 m-0 text-lg;
  }

  ul {
    @apply list-disc list-inside mb-2;
  }
  ol {
    @apply list-decimal list-inside mb-2;
  }
  li {
    @apply ml-2;
  }

  pre {
    @apply p-6 rounded-lg whitespace-pre-wrap;
  }
  pre > code {
    all: unset;
  }

  hr {
    @apply border-t border-gray-200;
  }
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* :root {
  --accent: #7f0000;
  --accent-dark: #690000;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
} */
@font-face {
  font-family: "ClarityCity";
  src: url("/fonts/ClarityCity-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ClarityCity";
  src: url("/fonts/ClarityCity-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* body {
  font-family: "Nunito Sans", "ClarityCity", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #fafaf9;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 20px;
  line-height: 1.7;
} */

.latest_news a {
  color: white;
}
