---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex justify-center bg-[url('/page-content/city-build/odaki.png')] bg-cover bg-center w-full drop-shadow-2xl rounded-lg">
		<div class="px-8 lg:px-16 py-12 lg:py-24 bg-black bg-opacity-50 w-full rounded-lg">
			<div class="xl:w-3/5">
                <h1 class="text-white font-bold max-w-fit">Gardellia &amp; Calidia</h1>
                <p class="text-white"><span class="bg-main-50 p-1">Create to Captivate</span> — Creative city building worlds made for the seriously creative.</p>
			</div>
		</div>
	</div>
    <div class="mt-10">
        <h2>Creative City Build</h2>
        <p>
            <span class="text-white bg-main-50 p-1">Gardellia &amp; Calidia</span> are the two worlds in the server dedicated to creative city building. Players may claim areas and start building their own towns & cities regardless of their building skill level as long as they follow the rules.
        </p>
    </div>
    <div class="mt-10">
        <h2>Gardellia or Calidia?</h2>
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 p-2">
                <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <h3>Gardellia</h3>
                    <p class="font-bold">For those starting out small</p>
                    <ul>
                        <li>Opened in 2016, Gardellia is WolvHaven's first city building world.</li>
                        <li>Built around a government-owned national railway network, players usually claim and build their cities around prebuilt stations.</li>
                        <li>Stations are spaced approximately 500m apart, and expansion may be limited due to neighboring claims along the rail line.</li>
                    </ul>
                </div>
            </div>

            <div class="w-full lg:w-1/2 p-2">
                <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                    <h3>Calidia</h3>
                    <p class="font-bold">For those with bigger plans or ambitions</p>
                    <ul>
                        <li>Opened in 2020, Calidia is WolvHaven's newest city building world.</li>
                        <li>Unlike Gardellia, Calidia is a large-biome terrain generated world without any pre-built infrastructure.</li>
                        <li>Players space out and start their claims where space is available, away from other claims.</li>
                        <li>They are expected to collaborate and negotiate should they want to connect their claims using inter-city infrastructure.</li>
                    </ul>
                </div>
            </div>
        </div>
       
        
    </div>
</BaseLayout>