---
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout headerImg="/page-content/city-build/odaki.png">
  <div slot="pageHeader">
    <h1 class="text-white font-bold max-w-fit">Gardellia &amp; Calidia</h1>
    <p class="text-white">
      <span class="bg-main-50 p-1">Create to Captivate</span> &mdash; Creative city
      building worlds made for the seriously creative.
    </p>
    <p class="text-white">
      Let your imagination run and build your city, just the way you like.
    </p>
    <div class="flex flex-col lg:flex-row gap-2">
      <Button
        link="https://forms.gle/ayx4KPztfdFPk2UXA"
        linkText="Claim Registration Form"
        type="white"
        external
      />
    </div>
  </div>

  <section>
    <h2>Creative City Build</h2>
    <p>
      <span class="text-white bg-main-50 p-1">Gardellia &amp; Calidia</span> are the
      two worlds in the server dedicated to creative city building. Players may claim
      areas and start building their own towns & cities regardless of their building
      skill level as long as they follow the rules.
    </p>
  </section>

  <section>
    <h2>Gardellia or Calidia?</h2>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 p-2">
        <div class="w-full min-h-full card">
          <h3>Gardellia</h3>
          <p class="font-bold">For those starting out small</p>
          <ul>
            <li>
              Opened in 2016, Gardellia is WolvHaven's first city building
              world.
            </li>
            <li>
              Built around a government-owned national railway network, players
              usually claim and build their cities around prebuilt stations.
            </li>
            <li>
              Stations are spaced approximately 500m apart, and expansion may be
              limited due to neighboring claims along the rail line.
            </li>
          </ul>
          <div class="flex bg-orange-100 text-orange-950 p-3 gap-2 rounded-lg">
            <Icon name="fa7-solid:warning" class="text-2xl shrink-0" />
            <span class="text-base"
              >Most activity has shifted to Calidia. Gardellia may be retired in
              the future.</span
            >
          </div>
        </div>
      </div>

      <div class="w-full lg:w-1/2 p-2">
        <div class="w-full min-h-full card">
          <h3>Calidia</h3>
          <p class="font-bold">For those with bigger plans or ambitions</p>
          <ul>
            <li>
              Opened in 2020, Calidia is WolvHaven's newest city building world.
            </li>
            <li>
              Unlike Gardellia, Calidia is a large-biome terrain generated world
              without any pre-built infrastructure.
            </li>
            <li>
              Players space out and start their claims where space is available,
              away from other claims.
            </li>
            <li>
              They are expected to collaborate and negotiate should they want to
              connect their claims using inter-city infrastructure.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Claim Registry</h2>
    <p>
      As mentioned in the <a href="/rules">server rules</a>, all claims in
      Gardellia and Calidia must be registered or de-registered for
      administrative purposes.
    </p>
    <p>Please fill out the claim registration form below when you:</p>
    <ul>
      <li>Start a new claim</li>
      <li>Relinquish ownership of your existing claim</li>
    </ul>
    <Button
      link="https://forms.gle/ayx4KPztfdFPk2UXA"
      linkText="Claim registration form"
      external
    />
  </section>
</BaseLayout>
