---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Community, Culture, and Safety"
  subtitle="Getting along with other server members and making friends will make your server experience better. Learn more about our community, culture, and what you can do to protect yourself."
>
  <section>
    <img
      class="w-full rounded-lg"
      src="/page-content/culture-safety/oktonotok-banner.jpg"
    />
  </section>

  <section>
    <h2>Core Principles</h2>
    <p>Our community and culture is guided by the following core principles:</p>
    <div class="grid grid-cols-1 gap-3">
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:handshake" />
        <h3 class="mt-3">Treat each other and the community with respect</h3>
        <ul>
          <li>
            Please treat your fellow WolvHaveners how you would like to be
            treated.
          </li>
          <li>
            Exercise courtesy in your in-game chats, messages, and actions.
          </li>
          <li>
            Be mindful of the tone of your messages before sending them out,
            read it again, and check if it comes off as potentially rude or
            arrogant.
          </li>
        </ul>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:hand-holding-heart" />
        <h3 class="mt-3">Be mindful and considerate towards others</h3>
        <ul>
          <li>
            Be aware of the people currently on the server. Make sure you do not
            communicate anything that may upset any individual.
          </li>
          <li>
            If someone said something that makes you feel uncomfortable, address
            it collaboratively. See the “Addressing concerns” section for more
            information.
          </li>
        </ul>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:lightbulb" />
        <h3 class="mt-3">Be open-minded</h3>
        <ul>
          <li>
            Being open-minded, especially as a new member of the community is
            very important. WolvHaveners are generally irked by newcomers who
            “complain” excessively about the way the server operates.
          </li>
          <li>
            Think of it this way &mdash; you do not attend someone else's party
            and start changing the program as you like.
          </li>
        </ul>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:people-carry" />
        <h3 class="mt-3">Build trust &amp; relations with others</h3>
        <ul>
          <li>
            Make sure you build trust and forge bonds with others before having
            certain kinds of interactions with them.
          </li>
          <li>
            General banter and internal jokes among various WolvHaveners is
            normal. Ensure you are on that level of trust before joking with
            each other in order to avoid causing offense.
          </li>
          <li>
            A joke to someone who is a close friend may not be funny if used on
            someone you just met.
          </li>
          <li>
            Do not mistake general banter for disrespect and do not backseat
            moderate. Approach a member of staff if you are concerned.
          </li>
        </ul>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:comments" />
        <h3 class="mt-3">Try to resolve concerns collaboratively</h3>
        <ul>
          <li>
            Should someone do or say something that has a negative impact on
            you, take the opportunity to address your concerns directly.
          </li>
          <li>
            Opening up dialogue for understanding helps to build a kinder
            community. Keep in mind that staff is always available to respond to
            continued harassment.
          </li>
          <li>
            For more information on engagement, see the “Addressing Concerns”
            section.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h2>Unfavorable Behavior</h2>
    <p>
      Some quirks about our culture that if done, may irk some in the community
    </p>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-3">
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:times" />
        <h3 class="mt-3">Using "K"</h3>
        <p>
          Generally considered rude to WolvHaveners as it gives off a "don't
          care" vibe. Use "Ok" or "Okay" instead
        </p>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:times" />
        <h3 class="mt-3">Humble bragging or attention-seeking</h3>
        <p>
          For example, publicly announcing/threatening to leave the server if
          certain things do not go as planned.
        </p>
        <p>
          Such actions only give off the impression that you are trying to seem
          more important than others.
        </p>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:times" />
        <h3 class="mt-3">Joking around with people you're not close to</h3>
        <p>
          While general banter is common among players within WolvHaven, take
          note not to engage in such interactions when you only got to know
          someone.
        </p>
        <p>
          "Roasting" a friend you've known for a few months is different from
          "Roasting" a stranger you've just met.
        </p>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:times" />
        <h3 class="mt-3">Backseat Moderation</h3>
        <p>
          Trying to police another member's actions in an authoritative manner.
          For example, suggesting penalties, getting involved in a situation not
          directly involving yourself when staff is trying to handle it, and
          threatening to report individuals to staff.
        </p>
        <p>
          Such actions only cause general annoyance and do not help to diffuse
          arguments/disputes.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2>Safety</h2>
    <p>
      WolvHaven is an international community. Here are some tips which you can
      use to protect yourself.
    </p>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-3">
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:plus" />
        <h3 class="mt-3">
          Avoid sharing personal information of yourself and others
        </h3>
        <p>
          Specific & personally identifiable information such as the school you
          attend or your workplace should not be shared.
        </p>
        <p>
          However, other less-specific information such as the country you
          reside in is fine if you are comfortable with it.
        </p>
        <p>
          Always get permission from others before sharing any information about
          them which others may not know about.
        </p>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:plus" />
        <h3 class="mt-3">Click links only from people you trust</h3>
        <p>
          Ensure that you only click links from people you trust. Whether it was
          sent in server chat or discord direct messages, check before opening
          such links as they may be malicious.
        </p>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:plus" />
        <h3 class="mt-3">Secure your Minecraft &amp; Discord accounts</h3>
        <p>
          Remember to change the passwords to your accounts regularly and use a
          strong password.
        </p>
        <p>
          Enable 2FA on your discord to prevent unauthorized logins, and do not
          scan any Discord QR codes using your discord mobile app unless it is
          you logging in.
        </p>
      </div>
      <div class="card w-full">
        <Icon class="text-4xl" name="fa7-solid:plus" />
        <h3 class="mt-3">Distance yourself when it is not conducive</h3>
        <p>
          In the event where you feel extreme discomfort within the server, it
          is advised that you disengage, take a break, and raise the issue with
          a member of staff.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2>Addressing Concerns</h2>
    <p>
      As with every community, there may be instances where certain people do
      not get along. We would like to encourage members to address their
      concerns politely with each other in order to build a more understanding
      and kind community.
    </p>

    <div class="card w-full">
      <h3>It's okay to say, and be told "that's not okay"</h3>
      <p>
        There may be instances where the actions of others cause offence, hurt,
        annoyance, or discomfort to you.
        <br />
        Your actions may also unknowingly do the same to others.
      </p>

      <ul>
        <li>
          <b>It's okay to say "that's not okay"</b> &mdash; Voice out your concerns
          with the other party politely, and in a non-aggressive manner and explain
          why you do not like it. They may not have done it with the intention to
          cause harm.
        </li>
        <li>
          <b>It's okay to be told "that's not okay"</b> &mdash; Hearing out the concerns
          of another party, understanding the impact of your actions, and changing
          builds better relations with each other.
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h2>Tips for Engagement</h2>
    <p>
      When engaging another party regarding any concerns, be sure to keep the
      following in mind:
    </p>
    <ul>
      <li>
        <b>Approach them in a non-confrontational manner</b> &mdash; Open the conversation
        with a gentle note. "Hey, I did not like it when you said..." is better than
        "You're seriously rude.", for example.
      </li>
      <li>
        <b>Engage the other party directly</b> &mdash; Bring up the matter with them
        privately over direct messages or somewhere you can speak to one another directly
        instead of publicly.
      </li>
      <li>
        <b>Watch your tone</b> &mdash; Do not speak in a condescending manner to the
        other party, and avoid the use of harsh words. For example: "The constant
        spamming of potions as it was crashing my game, could you please stop?" is
        better than "Your spamming of potions is extremely annoying."
      </li>
      <li>
        <b>Explain why</b> &mdash; To help another person understand you better, explain
        why you felt that way. For example: "I did not like it because it felt like
        you were looking down on me"
      </li>
      <li>
        <b>Understand that you are not perfect, as is everyone else</b> &mdash; Be
        prepared to receive feedback in return. The other party may also point out
        some things which you did in the past. Remember that nobody is perfect. For
        example: "I understand, but you also used similar terms as well in a similar
        way in the past."
      </li>
      <li>
        <b>Acknowledge and work out a solution</b> &mdash; Acknowledge the issues
        addressed and work out a solution that you both can agree on. Be understanding
        towards each other and be prepared to make concessions. For example: "Ah I
        see, alright. In the future, I won't make such statements anymore. May I ask
        if you do the same too?"
      </li>
      <li>
        <b>If the other party is unco-operative, disengage</b> &mdash;If the other
        party is not willing to cooperate, do not engage further. You may choose to
        exercise other options such as ignoring them through the /ignore command or
        blocking them on discord.
      </li>
    </ul>
    <p>
      You may also approach staff by opening a ticket in <span
        class="bg-indigo-300 p-1">#helpop</span
      >, and let staff address your concerns on your behalf.
    </p>
    <p>
      Should they continue to intentionally harass or try to cause harm, alert a
      member of staff immediately.
    </p>
  </section>
</BaseLayout>
