---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Application Forms"
  subtitle="All links to application forms on the server"
>
  <section>
    <h2>Qualification-related Forms</h2>
    <div class="grid grid-cols-1 gap-3">
      <div class="card w-full">
        <h3>WorldEdit Qualification</h3>
        <p>Passing this assessment grants you:</p>
        <ul>
          <li>
            Access to basic WorldEdit commands in the city-building worlds
          </li>
          <li>Fulfilled pre-requisite for the [Builder] rank</li>
        </ul>
        <Button
          link="https://docs.google.com/forms/d/e/1FAIpQLSfznXp97pusYFcsEGfQww2Ozry-dcgYFwyz0eqveXW-Dj6GgQ/viewform"
          linkText="WorldEdit Qualification Test"
          external
        />
      </div>
    </div>
  </section>

  <section>
    <h2>Administrative-related Forms</h2>
    <div class="grid grid-cols-1 gap-3">
      <div class="card w-full">
        <h3>City-Build Claim Registration</h3>
        <p>
          All claims in Gardellia &amp; Calidia must be registered for
          administrative purposes. Use this form to:
        </p>
        <ul>
          <li>Register a new claim</li>
          <li>De-register or Relinquish ownership of your existing claim</li>
        </ul>
        <Button
          link="https://forms.gle/ayx4KPztfdFPk2UXA"
          linkText="Claim Registration Form"
          external
        />
      </div>
    </div>
  </section>

  <section>
    <h2>Moderation-related Forms</h2>
    <div class="grid grid-cols-1 gap-3">
      <div class="card w-full">
        <h3>Whistleblow an incident</h3>
        <p>Submit a whistleblowing report if you believe revealing your identity, or reporting directly to staff puts yourself at risk.</p>
        <p>Please use #helpop otherwise.</p>
        <ul>
            <li>Reports are treated with strict confidentiality</li>
            <li>Provide as much information as possible to facilitate our investigation</li>
            <li>We are committed to protecting individuals submitting reports in good faith against retaliation</li>
        </ul>
        <Button
          link="https://docs.google.com/forms/d/e/1FAIpQLSc3kWnln91iNAplSiPtIB6YYziFq6y_kLuvBFhsCObcrNhKMQ/viewform?usp=sf_link"
          linkText="Submit a whistleblowing report"
          external
        />
      </div>
    </div>
  </section>
</BaseLayout>
