---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <h1>Application forms</h1>
    <p>This page lists all the links to application forms related to the server</p>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow flex flex-col">
                <div class="flex-1">
                    <h4>WorldEdit Qualification</h4>
                    <p>Apply for WorldEdit Qualification. Passing this test grants you access to basic WorldEdit commands in the city-building worlds and is a prerequisite for the [Builder] rank.</p>
                </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfznXp97pusYFcsEGfQww2Ozry-dcgYFwyz0eqveXW-Dj6GgQ/viewform" target="_blank" class="text-main-50 bg-transparent hover:bg-main-50 hover:text-white rounded-md px-5 py-2.5 border-2 border-main-50">
                    WorldEdit Qualification Test
                </a>
            </div>
        </div>
        <div class="w-full lg:w-1/2 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow flex flex-col">
                <div class="flex-1">
                    <h4>City-Build Claim Registration</h4>
                    <p>As per the rules, all claims in Gardellia &amp; Calidia must be registered with Staff (CARD). You mau use this to register a new claim or de-register an existing claim.</p>
                </div>
                <a href="https://forms.gle/ayx4KPztfdFPk2UXA" target="_blank" class="text-main-50 bg-transparent hover:bg-main-50 hover:text-white rounded-md px-5 py-2.5 border-2 border-main-50">
                    Claim Registration Form
                </a>
            </div>
        </div>
    </div>
    <div class="w-full p-2">
        <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow flex flex-col">
            <div class="flex-1">
                <h4>Whistleblow an Incident</h4>
                <p>You should submit a whistleblowing report only if you believe submitting a report directly to staff or revealing your identity puts yourself at risk. Otherwise, please submit a report by opening a ticket using #helpop via discord.</p>
                <p>All reports will be treated with strict confidentiality. You should provide as much information as possible in the fields below to facilitate our investigation.</p>
                <p>WolvHaven is committed to protecting all individuals who submit reports in good faith against any form of retaliation and victimization.</p>
            </div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3kWnln91iNAplSiPtIB6YYziFq6y_kLuvBFhsCObcrNhKMQ/viewform?usp=sf_link" target="_blank" class="text-main-50 bg-transparent hover:bg-main-50 hover:text-white rounded-md px-5 py-2.5 border-2 border-main-50">
                Submit a report
            </a>
        </div>
    </div>
</BaseLayout>