---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex flex-col justify-center bg-[url('/header.png')] bg-cover bg-center w-full rounded-lg">
		<div class="px-16 py-24 backdrop-brightness-50 rounded-lg">
			<div class="xl:w-3/5">
				<h2 class="text-white font-bold p-2 max-w-fit bg-main-50">More to Explore.</h2>
				<p class="text-white">A Creative City-Building Minecraft server for the Architecture, Infrastructure, and Transit Enthusiast.</p>
				<p class="text-white">IP – <span class="bg-main-50 p-1">play.wolvhaven.net</span></p>
				<p class="text-white text-sm">Minecraft Version: 1.18.2 (as of December 2023)</p>
			</div>
		</div>
	</div>
</BaseLayout>