---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Server Staff" subtitle="All members of staff on the server">
  <section>
    <h2>Need assistance?</h2>
    <p>
      You can reach out to <span class="bg-pink-600 text-white p-1">@Staff</span
      > on our Discord server or individual staff members in game.
    </p>
  </section>

  <section>
    <h2>Staff Departments</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
      <div class="card flex flex-col gap-2">
        <h3>Creative Affairs & Regulation Department (CARD)</h3>
        <span class="bg-pink-600 text-white p-1 w-fit">@CARD</span>
        <p>
          Manages affairs related to creative city build worlds Gardellia and
          Calidia.
        </p>
        <p>In charge of the Claims Registry and approving projects.</p>
        <p><b>Head of Department:</b> <i><b>MatthieuTofu</b></i></p>
      </div>

      <div class="card flex flex-col gap-2">
        <h3>WolvHaven Development Commision (DEVCOM)</h3>
        <span class="bg-pink-600 text-white p-1 w-fit">@DEVCOM</span>
        <p>
          Develops and maintains the server's technical infrastructure,
          including web services.
        </p>
        <p><b>Head of Department:</b> <i><b>nixholas</b></i></p>
      </div>

      <div class="card flex flex-col gap-3">
        <h3>Ministry for Culture and Foreign Affairs (MCFA)</h3>
        <span class="bg-pink-600 text-white p-1 w-fit">@MCFA</span>
        <p>
          Manages community development and server promotion, including the
          Communications and Information Department (CID)
        </p>
        <p>
          <b>Heads of Department:</b>
          <i><b>jotch</b></i> &amp; <b><i>Carew</i></b>
        </p>
      </div>

      <div class="card flex flex-col gap-3">
        <h3>Ministry Internal Affairs (MIA)</h3>
        <span class="bg-pink-600 text-white p-1 w-fit">@MIA</span>
        <p>
          Responsible for internal and external server security. Manages the
          immigration test.
        </p>
        <p>
          <b>Heads of Department:</b>
          <i><b>jotch</b></i> &amp; <b><i>CM_Raiders</i></b>
        </p>
      </div>

      <div class="card flex flex-col gap-3">
        <h3>Ministry for Infrastructure and National Development (MIND)</h3>
        <span class="bg-pink-600 text-white p-1 w-fit">@MIND</span>

        <p>Responsible for planning public infrastructure.</p>
        <p><b>Head of Department:</b> <i><b>BargainBinAdmin</b></i></p>
      </div>
    </div>
  </section>

  <section>
    <h2>Members of Staff</h2>

    <section>
      <h3 class="bg-red-800 text-white p-1 w-fit">[Owner]</h3>
      <div class="card grid grid-cols-1 lg:grid-cols-4 gap-3">
        <!-- SilverWolv -->
        <div class="flex gap-2">
          <div>
            <img
              alt="SilverWolv"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/SilverWolv/64"
            />
          </div>
          <div class="flex flex-col">
            <span>SilverWolv</span>
            <span class="text-sm italic">All Departments</span>
          </div>
        </div>
        <!-- Nixholas -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Nixholas"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/nixholas/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Nixholas</span>
            <span class="text-sm italic">DEVCOM</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3 class="bg-red-500 text-white p-1 w-fit">[Admin]</h3>
      <div class="card grid grid-cols-1 lg:grid-cols-4 gap-3">
        <!-- Carew -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Carew"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/carew/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Carew</span>
            <span class="text-sm italic">MCFA &amp; DEVCOM</span>
          </div>
        </div>
        <!-- Axton -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Axton"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/axton/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Axton</span>
            <span class="text-sm italic">DEVCOM</span>
          </div>
        </div>
        <!-- Quarxilon -->
        <div class="flex gap-2">
          <div>
            <img
              alt="quarxilon"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/quarxilon/64"
            />
          </div>
          <div class="flex flex-col">
            <span>quarxilon</span>
            <span class="text-sm italic">MIA</span>
          </div>
        </div>
        <!-- Jotch -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Jotch"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/jotch/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Jotch</span>
            <span class="text-sm italic">MCFA</span>
          </div>
        </div>
        <!-- Underscore11 -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Underscore11"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/Underscore11/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Underscore11</span>
            <span class="text-sm italic">DEVCOM</span>
          </div>
        </div>
        <!-- MatthieuTofu -->
        <div class="flex gap-2">
          <div>
            <img
              alt="MatthieuTofu"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/MatthieuTofu/64"
            />
          </div>
          <div class="flex flex-col">
            <span>MatthieuTofu</span>
            <span class="text-sm italic">CARD &amp; DEVCOM</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3 class="bg-green-300 p-1 w-fit">[Moderator]</h3>
      <div class="card grid grid-cols-1 lg:grid-cols-4 gap-3">
        <!-- BargainBinAdmin -->
        <div class="flex gap-2">
          <div>
            <img
              alt="BargainBinAdmin"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/BargainBinAdmin/64"
            />
          </div>
          <div class="flex flex-col">
            <span>BargainBinAdmin</span>
            <span class="text-sm italic">MIA &amp; MIND</span>
          </div>
        </div>
        <!-- Aezo -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Aezo"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/_aezo/64"
            />
          </div>
          <div class="flex flex-col">
            <span>_aezo</span>
            <span class="text-sm italic">MCFA</span>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3 class="bg-indigo-300 p-1 w-fit">[Helper]</h3>
      <div class="card grid grid-cols-1 lg:grid-cols-4 gap-3">
        <!-- VincentLUMCFan -->
        <div class="flex gap-2">
          <div>
            <img
              alt="VincentLUMCFan"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/VincentLUMCFan/64"
            />
          </div>
          <div class="flex flex-col">
            <span>VincentLUMCFan</span>
            <span class="text-sm italic">MIND</span>
          </div>
        </div>
        <!-- GukkyGukz -->
        <div class="flex gap-2">
          <div>
            <img
              alt="GukkyGukz"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/GukkyGukz/64"
            />
          </div>
          <div class="flex flex-col">
            <span>GukkyGukz</span>
            <span class="text-sm italic">MIND</span>
          </div>
        </div>
        <!-- CM_Raiders -->
        <div class="flex gap-2">
          <div>
            <img
              alt="CM_Raiders"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/CM_Raiders/64"
            />
          </div>
          <div class="flex flex-col">
            <span>CM_Raiders</span>
            <span class="text-sm italic">MIA</span>
          </div>
        </div>
        <!-- Tony515 -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Tony515"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/Tony515/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Tony515</span>
            <span class="text-sm italic">MIA</span>
          </div>
        </div>
        <!-- PerfectTrains -->
        <div class="flex gap-2">
          <div>
            <img
              alt="PerfectTrains"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/PerfectTrains/64"
            />
          </div>
          <div class="flex flex-col">
            <span>PerfectTrains</span>
            <span class="text-sm italic">MIA</span>
          </div>
        </div>
        <!-- Wilhelm59 -->
        <div class="flex gap-2">
          <div>
            <img
              alt="Wilhelm59"
              class="max-w-14 self-start"
              src="https://cravatar.eu/helmavatar/Wilhelm59/64"
            />
          </div>
          <div class="flex flex-col">
            <span>Wilhelm59</span>
            <span class="text-sm italic">MCFA</span>
          </div>
        </div>
      </div>
    </section>
  </section>
</BaseLayout>
