---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <h1>Server Staff</h1>
    <p>You can reach out to <span class="bg-pink-600 p-1">@Staff</span> on our Discord server or individual staff members in game.</p>

    <h2>Staff Departments</h2>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/3 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                <h4>Creative Affairs & Regulation Department</h4>
                <p>Manages Gardellia and Calidia. Is in charge of the Claims Registry and approving projects.</p>
                <p><b>Head of Department:</b> <i><b>MatthieuTofu</b></i></p>
                <span class="bg-pink-600 p-1">@CARD</span>
            </div>
        </div>
        <div class="w-full lg:w-1/3 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                <h4>WolvHaven Development Commision</h4>
                <p>Develops and maintains the server's technical infrastructure, including web services.</p>
                <p><b>Head of Department:</b> <i><b>nixholas</b></i></p>
                <span class="bg-pink-600 p-1">@DEVCOM</span>
            </div>
        </div>
        <div class="w-full lg:w-1/3 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                <h4>Ministry for Culture and Foreign Affairs</h4>
                <p>Manages community development and server promotion, including the Communications and Information Department (CID)</p>
                <p><b>Heads of Department:</b> <i><b>jotch</b></i> & <b><i>Carew</i></b></p>
                <span class="bg-pink-600 p-1">@MCFA</span>
            </div>
        </div>
        <div class="w-full lg:w-1/3 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                <h4>Ministry for Internal Affairs</h4>
                <p>Responsible for internal and external server security. Manages the immigration test.</p>
                <p><b>Head of Department:</b> <i><b>CM_Raiders</b></i></p>
                <span class="bg-pink-600 p-1">@MIA</span>
            </div>
        </div>
        <div class="w-full lg:w-1/3 p-2">
            <div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
                <h4>Ministry for Infrastructure and National Development</h4>
                <p>Responsible for planning public infrastructure.</p>
                <p><b>Head of Department:</b> <i><b>BargainBinAdmin</b></i></p>
                <span class="bg-pink-600 p-1">@MIND</span>
            </div>
        </div>
        <div class="w-full lg:w-1/3 p-2">
            <div class="w-full min-h-full p-6 border-gray-200 rounded-lg">
            </div>
        </div>
    </div>
    <br>
    <h2>Staff List</h2>
    <hr style="height:5pt; visibility:hidden;" />
    <h4><span class="bg-red-800 text-white p-1">[Owner]</span></h4>
    <div class="flex w-full flex-col lg:flex-row gap-2">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/SilverWolv/64"/>
            <div>
                <h4><b>SilverWolv</b></h4>
                <p class="mb-0"><i>All Departments</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/nixholas/64"/>
            <div>
                <h4><b>nixholas</b></h4>
                <p class="mb-0"><i>DEVCOM</i></p>
            </div>
        </div>
        <div class="w-full p-6 gap-5 self-start">
            </div>
        </div>
    </div>
<br>
    <h4><span class="bg-red-500 text-white p-1">[Admin]</span></h4>
    <div class="flex w-full flex-col lg:flex-row gap-2">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/Carew/64"/>
            <div>
                <h4><b>Carew</b></h4>
                <p class="mb-0"><i>MCFA + DEVCOM</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/Axton/64"/>
            <div>
                <h4><b>Axton</b></h4>
                <p class="mb-0"><i>DEVCOM</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/quarxilon/64"/>
            <div>
                <h4><b>quarxilon</b></h4>
                <p class="mb-0"><i>MIA</i></p>
            </div>
        </div>
    </div>
    <hr style="height:5pt; visibility:hidden;" />
    <div class="flex w-full flex-col lg:flex-row gap-2">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/jotch/64"/>
            <div>
                <h4><b>Jotch</b></h4>
                <p class="mb-0"><i>MCFA</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/Underscore11/64"/>
            <div>
                <h4><b>Underscore11</b></h4>
                <p class="mb-0"><i>DEVCOM</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/MatthieuTofu/64"/>
            <div>
                <h4><b>MatthieuTofu</b></h4>
                <p class="mb-0"><i>CARD + DEVCOM</i></p>
            </div>
        </div>
    </div>
    <br>
    <h4><span class="bg-green-300 p-1">[Mod]</span></h4>
    <div class="flex w-full flex-col lg:flex-row gap-2">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/BargainBinAdmin/64"/>
            <div>
                <h4><b>BargainBinAdmin</b></h4>
                <p class="mb-0"><i>MIA + MIND</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/_aezo/64"/>
            <div>
                <h4><b>_aezo</b></h4>
                <p class="mb-0"><i>MCFA</i></p>
            </div>
        </div>
        <div class="w-full p-6 flex gap-5 self-start">
        </div>
    </div>
    <br>
    <h4><span class="bg-indigo-300 p-1">[Helper]</span></h4>
    <div class="flex w-full flex-col lg:flex-row gap-2">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/VincentLUMCFan/64"/>
            <div>
                <h4><b>VincentLUMCFan</b></h4>
                <p class="mb-0"><i>MIND</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/GukkyGukz/64"/>
            <div>
                <h4><b>GukkyGukz</b></h4>
                <p class="mb-0"><i>MIND</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/CM_Raiders/64"/>
            <div>
                <h4><b>CM_Raiders</b></h4>
                <p class="mb-0"><i>MIA</i></p>
            </div>
        </div>
    </div>
    <hr style="height:5pt; visibility:hidden;" />
    <div class="flex w-full flex-col lg:flex-row gap-2">
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/Tony515/64"/>
            <div>
                <h4><b>Tony515</b></h4>
                <p class="mb-0"><i>MIA</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/Perfecttrains/64"/>
            <div>
                <h4><b>Perfecttrains</b></h4>
                <p class="mb-0"><i>MIA</i></p>
            </div>
        </div>
        <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
            <img  class="w-1/4 self-start" src="https://cravatar.eu/helmavatar/Wilhelm59/64"/>
            <div>
                <h4><b>Wilhelm59</b></h4>
                <p class="mb-0"><i>MCFA</i></p>
            </div>
        </div>
    </div>
</BaseLayout>