---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex justify-center bg-[url('/page-content/survival/pangea-littlevillage.png')] bg-cover bg-center w-full drop-shadow-2xl rounded-lg">
		<div class="px-16 py-24 backdrop-brightness-50 w-full rounded-lg">
			<div class="xl:w-3/5">
                <h1 class="text-white font-bold max-w-fit">Avalon</h1>
                <p class="text-white"><span class="bg-main-50 p-1">Survive to Thrive</span> — Survive with friends, start a community.</p>
			</div>
		</div>
	</div>
    <div class="mt-10">
        <h2>Survival Multiplayer on WolvHaven</h2>
        <p class="p-5 rounded-lg bg-amber-100 border border-amber-200">SMP on WolvHaven is due for a Hard Reset as voted for by the community. It's replacement, "Avalon" will come in 2024. We do not recommend getting too invested in the current SMP world (Pangea)</p>
        <p>
            <span class="text-white bg-main-50 p-1">Avalon</span> is the SMP world in WolvHaven where you can work on your own or with friends to survive and build in the traditional Minecraft fashion. Forge a community with friends and build a quaint village or master your creative skills with a great castle atop a hill!
        </p>
    </div>
</BaseLayout>