---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex justify-center bg-[url('/page-content/home/header.png')] bg-cover bg-center w-full drop-shadow-2xl rounded-lg">
		<div class="px-16 py-24 backdrop-brightness-50 w-full rounded-lg">
			<div class="xl:w-3/5">
                <h1 class="text-white font-bold max-w-fit">WolvHaven City</h1>
                <p class="text-white"><span class="bg-main-50 p-1">More to Explore</span> — the heart of our server.</p>
                <p class="text-white">Established since 2011, the WolvHaven City project is the capital of the server, and acts as a showcase city.</p>
                <a href="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg" target="_blank" class="text-white bg-transparent hover:bg-white hover:text-black rounded-md px-5 py-2.5 border-2 border-white">
                    View the masterplan
                </a>
			</div>
		</div>
	</div>
    <div class="mt-10">
        <h2>The server's capital</h2>
        <p>
            <span class="text-white bg-main-50 p-1">WolvHaven City</span> is the capital of the server. When WolvHaven was established in 2011, its main goal was to create an immersive city in Minecraft for a survival-roleplay experience.
        </p>
        <p>As the server evolved into one that focuses on creative building, WolvHaven City has evolved into acting as the showcase city, and community-build of the server.</p>
        <p>The city is in its 5th edition, dubbed "New Wolfminster", and is over 10x larger than its predecessor.</p>
    </div>
    <div class="mt-10">
        <h2>Contribute</h2>
        <p>WolvHaven City is built by the community, and is the embodiment of its community. Most official communal events are held here. If you would like to contribute, you will need to have WorldEdit Qualifications, and obtain the [Builder] rank.</p>
        <p>You can find out more information on the requirements for obtaining the [Builder] rank in the <a href="/ranks">ranks page</a>.</p>
        <p>For existing builders, you may find areas to contribute in line with the <a href="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg" target="_blank">masterplan</a> or join in the discussion in #fifth-haven on discord.</p>
    </div>
    <div class="mt-10">
        <h2>Transport</h2>
        <p>A metro network is available in 5th Haven, operated by the Société Métropolitaine et Régionale des Transports (SMRT) with Transport for WolvHaven</p>
        <div class="flex w-full gap-2 flex-wrap">
            <img class="max-h-16" src="/page-content/transport/TransportForWH_BLACK.png"/>
            <img class="max-h-16" src="/page-content/transport/Metro-Icon.svg"/>
            <img class="max-h-16" src="/page-content/transport/LRT-Icon.svg"/>
            <img class="max-h-16" src="/page-content/transport/Bus-Icon.svg"/>
            <img class="max-h-16" src="/page-content/transport/Ferry-Icon.svg"/>
        </div>
        <img  class="w-full rounded-lg shadow mt-10" src="/page-content/wolvhaven/FifthHavenMetroMapV1.1.png"/>

    </div>
</BaseLayout>