---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex justify-center bg-[url('/page-content/home/header.png')] bg-cover bg-center w-full drop-shadow-2xl rounded-lg">
		<div class="px-8 lg:px-16 py-12 lg:py-24 bg-black bg-opacity-50 w-full rounded-lg">
			<div class="xl:w-3/5">
                <h1 class="text-white font-bold max-w-fit">WolvHaven City</h1>
                <p class="text-white"><span class="bg-main-50 p-1">More to Explore</span> — the heart of our server.</p>
                <p class="text-white">Established since 2011, the WolvHaven City project is the capital of the server, and acts as a showcase city.</p>
                <div class="flex gap-2">
                    <a href="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg" target="_blank" class="text-white bg-transparent hover:bg-white hover:text-black rounded-md px-5 py-2.5 border-2 border-white">
                        View the masterplan
                    </a>
                    <a href="https://docs.google.com/presentation/d/1XWQEYOFfjSOJJF6T_3Lc_sRafE-KA-T_JjyLEBOAw_A/" target="_blank" class="text-white bg-transparent hover:bg-white hover:text-black rounded-md px-5 py-2.5 border-2 border-white">
                        Latest detailed plan
                    </a>
                </div>
			</div>
		</div>
	</div>
    <div class="mt-10">
        <h2>The server's capital</h2>
        <p>
            <span class="text-white bg-main-50 p-1">WolvHaven City</span> is the capital of the server. When WolvHaven was established in 2011, its main goal was to create an immersive city in Minecraft for a survival-roleplay experience.
        </p>
        <p>As the server evolved into one that focuses on creative building, WolvHaven City has evolved into acting as the showcase city, and community-build of the server.</p>
        <p>The city is in its 5th edition, dubbed "New Wolfminster", and is over 10x larger than its predecessor, <a href="/wolvhaven(4h)">New WolvHaven (4H)</a>.</p>
    </div>
    <div class="mt-10">
        <h2>Contribute</h2>
        <p>WolvHaven City is built by the community, and is the embodiment of its community. Most official communal events are held here. If you would like to contribute, you will need to have WorldEdit Qualifications, and obtain the [Builder] rank. Please refer to the following resources:</p>
        <ul>
            <li><a href="/ranks" target="_blank">Ranks page</a> for [Builder] rank info</li>
            <li><a href="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg" target="_blank">Fifth Haven masterplan</a> for overall planning and open areas for contribution</li>
            <li>#fifth-haven &amp #fifth-haven-planning channel on discord</li>
            <li><a href="https://docs.google.com/document/d/1yO5dyEpg8UmTygk42gJsEXQebzsGVIm4TjylpsFz-WM/edit" target="_blank">WHRDSR</a> - WolvHaven Road Design and Signage Regulations</li>
        </ul>
        <h2>Contribution Framework</h2>
        <p>The City is divided into 6 different planning areas. Each planning area is overseen by a Planner in-charge. Within each planning area, development plans, which are detailed plans are produced, usually as part of a 3-month plan period.</p>
        <p>All plans are designed with the overall masterplan in-mind. The Chief Planner oversees the details for linking up the different planning areas together. Builders are free to contribute in accordance with the latest development plans. The planning areas, and their planners in-charge are listed below:</p>
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="flex w-full lg:w-2/3 flex-col gap-2">
                <img  class="w-full rounded-lg shadow" src="/page-content/wolvhaven/DevelopmentFramework.png"/>
                <div class="w-full flex gap-2">
                    <a href="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg" target="_blank" class="text-main-50 bg-transparent hover:bg-main-50 hover:text-white rounded-md px-5 py-2.5 border-2 border-main-50 w-full">
                        View the masterplan
                    </a>
                    <a href="https://docs.google.com/presentation/d/1XWQEYOFfjSOJJF6T_3Lc_sRafE-KA-T_JjyLEBOAw_A/" target="_blank" class="text-main-50 bg-transparent hover:bg-main-50 hover:text-white rounded-md px-5 py-2.5 border-2 border-main-50 w-full">
                        Latest detailed plan
                    </a>
                </div>
            </div>
            <div class="flex w-full lg:w-1/3 flex-wrap gap-2">
                <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                    <img  class="w-1/5 self-start" src="/faces/minebuilder1223.png"/>
                    <div>
                        <h4>minebuilder1223</h4>
                        <p class="mb-0">Chief Planner, Capitol Island</p>
                    </div>
                </div>
                <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                    <img  class="w-1/5 self-start" src="/faces/silverwolv.png"/>
                    <div>
                        <h4>SilverWolv</h4>
                        <p class="mb-0">Wolfminster, Westford</p>
                    </div>
                </div>
                <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                    <img  class="w-1/5 self-start" src="/faces/matthieutofu.png"/>
                    <div>
                        <h4>MatthieuTofu</h4>
                        <p class="mb-0">Brookedge, Westford</p>
                    </div>
                </div>
                <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                    <img  class="w-1/5 self-start" src="/faces/heiopeii.png"/>
                    <div>
                        <h4>Heiopeii</h4>
                        <p class="mb-0">Exchange Place, Brookedge, Brookedge Port</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <h2>Transport</h2>
        <p>A metro network is available in 5th Haven, operated by the Société Métropolitaine et Régionale des Transports (SMRT) with Transport for WolvHaven</p>
        <div class="flex w-full gap-2 flex-wrap">
            <img class="max-h-16" src="/page-content/transport/TransportForWH_BLACK.png"/>
            <img class="max-h-16" src="/page-content/transport/Metro-Icon.svg"/>
            <img class="max-h-16" src="/page-content/transport/LRT-Icon.svg"/>
            <img class="max-h-16" src="/page-content/transport/Bus-Icon.svg"/>
            <img class="max-h-16" src="/page-content/transport/Ferry-Icon.svg"/>
        </div>
        <img  class="w-full rounded-lg shadow mt-10" src="/page-content/wolvhaven/FifthHavenMetroMapV1.1.png"/>
    </div>
</BaseLayout>