---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout headerImg="/page-content/home/header.png">
  <div slot="pageHeader">
    <h1 class="text-white font-bold max-w-fit">WolvHaven City</h1>
    <p class="text-white">
      <span class="bg-main-50 p-1">More to Explore</span> — the heart of our server.
    </p>
    <p class="text-white">
      Established since 2011, the WolvHaven City project is the capital of the
      server, and acts as a showcase city.
    </p>
    <div class="flex flex-col lg:flex-row gap-2">
      <Button
        linkText="View the masterplan"
        link="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg"
        type="white"
        external
      />
      <Button
        linkText="Latest detailed plan"
        link="https://docs.google.com/presentation/d/1XWQEYOFfjSOJJF6T_3Lc_sRafE-KA-T_JjyLEBOAw_A/"
        type="white"
        external
      />
    </div>
  </div>

  <section>
    <h2>The server's capital</h2>
    <p>
      <span class="text-white bg-main-50 p-1">WolvHaven City</span> is the capital
      of the server. When WolvHaven was established in 2011, its main goal was to
      create an immersive city in Minecraft for a survival-roleplay experience.
    </p>
    <p>
      As the server evolved into one that focuses on creative building,
      WolvHaven City has evolved into acting as the showcase city, and
      community-build of the server.
    </p>
    <p>
      The city is in its 5th edition, dubbed "New Wolfminster", and is over 10x
      larger than its predecessor, <a href="/wolvhaven(4h)"
        >New WolvHaven (4H)</a
      >.
    </p>
  </section>

  <section>
    <h2>Getting Around</h2>
    <p>
      A metro network is available in 5th Haven, operated by the Société
      Métropolitaine et Régionale des Transports (SMRT) with Transport for
      WolvHaven
    </p>
    <div class="flex w-full gap-2 flex-wrap">
      <img
        alt="Transport for WolvHaven Logo"
        class="max-h-12"
        src="/page-content/transport/TransportForWH_BLACK.png"
      />
      <img
        alt="Metro Icon"
        class="max-h-12"
        src="/page-content/transport/Metro-Icon.svg"
      />
      <img
        alt="LRT Icon"
        class="max-h-12"
        src="/page-content/transport/LRT-Icon.svg"
      />
      <img
        alt="Bus Icon"
        class="max-h-12"
        src="/page-content/transport/Bus-Icon.svg"
      />
      <img
        alt="Ferry Icon"
        class="max-h-12"
        src="/page-content/transport/Ferry-Icon.svg"
      />
    </div>

    <img
      alt="WolvHaven Metro Map"
      class="w-full rounded-lg shadow-sm border mt-3"
      src="/page-content/wolvhaven/5h-metromap.png"
    />

    <div
      class="card grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-3 mt-3"
    >
      <!-- T1 Wolfminster Line -->
      <div class="flex gap-2">
        <div>
          <img
            alt="T1 Icon"
            class="max-w-14"
            src="/page-content/transport/5H-T1.png"
          />
        </div>
        <div class="flex flex-col">
          <span>Wolfminster Line</span>
          <span class="text-sm italic">Automatic &mdash; 5 min frequency</span>
        </div>
      </div>
      <!-- T2 Decennial Line -->
      <div class="flex gap-2">
        <div>
          <img
            alt="T2 Icon"
            class="max-w-14"
            src="/page-content/transport/5H-T2.png"
          />
        </div>
        <div class="flex flex-col">
          <span>Decennial Line</span>
          <span class="text-sm italic">Automatic &mdash; 5 min frequency</span>
        </div>
      </div>
      <!-- T3 East-West Line -->
      <div class="flex gap-2">
        <div>
          <img
            alt="T3 Icon"
            class="max-w-14"
            src="/page-content/transport/5H-T3.png"
          />
        </div>
        <div class="flex flex-col">
          <span>East-West Line</span>
          <span class="text-sm italic">Automatic &mdash; 5 min frequency</span>
        </div>
      </div>
      <!-- T4 Brookedge Line -->
      <div class="flex gap-2">
        <div>
          <img
            alt="T4 Icon"
            class="max-w-14"
            src="/page-content/transport/5H-T4.png"
          />
        </div>
        <div class="flex flex-col">
          <span>Brookedge Line</span>
          <span class="text-sm italic">Automatic &mdash; 3 min frequency</span>
        </div>
      </div>
      <!-- K Market St LRT -->
      <div class="flex gap-2">
        <div>
          <img
            alt="K LRT Icon"
            class="max-w-14"
            src="/page-content/transport/5H-K.png"
          />
        </div>
        <div class="flex flex-col">
          <span>Market St. LRT</span>
          <span class="text-sm italic">Automatic &mdash; 5 min frequency</span>
        </div>
      </div>
      <!-- M Capitol Monorail -->
      <div class="flex gap-2">
        <div>
          <img
            alt="M Monorail Icon"
            class="max-w-14"
            src="/page-content/transport/5H-M.png"
          />
        </div>
        <div class="flex flex-col">
          <span>Capitol Monorail</span>
          <span class="text-sm italic">Automatic &mdash; 3 min frequency</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>Contribute</h2>
    <p>
      WolvHaven City is built by, and is the embodiment of its community. Most
      official communal events are held here.
    </p>
    <p>
      If you would like to contribute to the development of the city, you will
      need:
    </p>
    <ul>
      <li>
        WorldEdit Qualification <i
          >(more info at <a href="/forms">application forms page</a>)</i
        >
      </li>
      <li>
        The [Builder] rank <i>(more info at <a href="/ranks">ranks page</a>)</i>
      </li>
    </ul>
  </section>

  <section>
    <h2>Contribution Framework</h2>
    <ul>
      <li>
        The City is divided into 6 different planning areas, each overseen by a
        planner in-charge.
      </li>
      <li>
        Within each planning area, development plans, which are detailed plans
        are produced, usually as part of a 3-month plan period.
      </li>
      <li>
        All plans are designed with the overall masterplan in-mind. The Chief
        Planner overseeing details for connecting different planning areas
        together.
      </li>
    </ul>

    <img
      alt="Fifth Haven Development Areas"
      class="w-full rounded-lg shadow-sm"
      src="/page-content/wolvhaven/DevelopmentFramework.png"
    />

    <div
      class="card grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-3 mt-3"
    >
      <div class="flex gap-2">
        <div>
          <img
            alt="minebuilder1223"
            class="max-w-14"
            src="/faces/minebuilder1223.png"
          />
        </div>
        <div class="flex flex-col">
          <span>minebuilder1223</span>
          <span class="text-sm italic">Chief Planner, Capitol Island</span>
        </div>
      </div>

            <div class="flex gap-2">
        <div>
          <img
            alt="minebuilder1223"
            class="max-w-14"
            src="/faces/silverwolv.png"
          />
        </div>
        <div class="flex flex-col">
          <span>SilverWolv</span>
          <span class="text-sm italic">Wolfminster &amp; Westford</span>
        </div>
      </div>

            <div class="flex gap-2">
        <div>
          <img
            alt="matthieutofu"
            class="max-w-14"
            src="/faces/matthieutofu.png"
          />
        </div>
        <div class="flex flex-col">
          <span>MatthieuTofu</span>
          <span class="text-sm italic">Westford &amp; Brookedge</span>
        </div>
      </div>

            <div class="flex gap-2">
        <div>
          <img
            alt="heiopeii"
            class="max-w-14"
            src="/faces/heiopeii.png"
          />
        </div>
        <div class="flex flex-col">
          <span>Heiopeii</span>
          <span class="text-sm italic">Exchange Place, Brookedge &amp; Brookedge Port</span>
        </div>
      </div>
    </div>
    <div class="w-full flex gap-2 mt-3">
      <Button
        className="w-full"
        linkText="View the masterplan"
        link="https://docs.google.com/presentation/d/1HMOT_pa9D0PddoP2EXaClFUpPalXGwoM0WdilkdJipg"
        type="main"
        external
      />
      <Button
        className="w-full"
        linkText="Latest detailed plan"
        link="https://docs.google.com/presentation/d/1XWQEYOFfjSOJJF6T_3Lc_sRafE-KA-T_JjyLEBOAw_A/"
        type="main"
        external
      />
    </div>
  </section>
</BaseLayout>
