---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="flex justify-center bg-[url('/page-content/wolvhaven(4h)/4h-skyline.png')] bg-cover bg-center w-full drop-shadow-2xl rounded-lg">
		<div class="px-8 lg:px-16 py-12 lg:py-24 bg-black bg-opacity-50 w-full rounded-lg">
			<div class="xl:w-3/5">
                <h1 class="text-white font-bold max-w-fit">New WolvHaven City</h1>
                <p class="text-white italic">4th Haven (4H), 2013—2023.</p>
                <p class="text-white"><span class="bg-main-50 p-1">More to Explore</span> — the heart of our server.</p>
                <p class="text-white">New WolvHaven (4H) is the 4th edition of WolvHaven City, established in December 2013. It will be retired soon.</p>
			</div>
		</div>
	</div>
    <div class="mt-10">
        <h2>The server's (old) capital</h2>
        <p>
            <span class="text-white bg-main-50 p-1">New WolvHaven</span> was the capital of the server from 2013—2023. It has since been replaced by <a href="/wolvhaven">New Wolfminster (5H)</a> which is over 10x larger
        </p>
    </div>
    <div class="mt-10">
        <h2>Why was 4H retired?</h2>
        <p>Announced in December 2013, 4H was meant to be the final iteration of the WolvHaven City project. However, in late 2015, problems soon started showing up with the current world due to the way it was designed. Several reasons were given such as:</p>
        <ul>
            <li><span class="font-bold">Lack of space</span> — As the city was only approximately 2km by 2km, issues regaring space arose when space was unable to be provisioned for an airport.</li>
            <li><span class="font-bold">Insufficient planning</span> — Many key parts of the city's infrastructure, such as its expressways were squeezed into existence</li>
            <li><span class="font-bold">Poor design of roads</span> — 2-lane roads in Wolfminster island with 3-block wide lanes were insufficient and becoming outdated</li>
            <li><span class="font-bold">Near impossible to rectify</span> — Fixing problems would require a full rebuild of the city</li>
        </ul>
        <p>It was decided in a Parliament session in December 2016 to add a mega fourth island to the existing map. However, after reviews, it was decided that WolvHaven City would move onto its 5th edition.</p>
    </div>
    <div class="mt-10">
        <h2>Transport</h2>
        <p>The Metro network in 4H popularized WolvHaven and is the biggest reason why members joined.</p>
        
        <img  class="w-full rounded-lg shadow" src="/page-content/wolvhaven(4h)/4h-metromap.png"/>
        <p class="text-sm">This map was designed by Jotch in 2020</p>
        <img  class="w-full rounded-lg shadow" src="/page-content/wolvhaven(4h)/4h-BERT-Map-2025.png"/>
        <p class="text-sm">This map was designed by Axton in 2025</p>
        <h3>Service Status</h3>
        <hr style="height:5pt; visibility:hidden;" />
        <h4>Metro</h4>
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro1.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Semi-Automatic</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro2.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Semi-Automatic</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro3.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Semi-Automatic</p>
                </div>
            </div>
        </div>
        <hr style="height:5pt; visibility:hidden;" />
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro4.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro5.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro6.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
        </div>
        <hr style="height:5pt; visibility:hidden;" />
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro7.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro8.png"/>
                <div>
                    <h4><b>Suspended</b></h4>
                    <p class="mb-0">No service</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro9.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
        </div>
        <hr style="height:5pt; visibility:hidden;" />
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Metro10.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Semi-automatic</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-MetroS.png"/>
                <div>
                    <h4><b>Suspended</b></h4>
                    <p class="mb-0">No service</p>
                </div>
            </div>
            <div class="w-full p-6 gap-5 self-start">
                </div>
        </div>  
        <br>
        <h4>BERT</h4>
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/3 self-start" src="/page-content/wolvhaven(4h)/4h-BERT-DTL.svg"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Every 4-8 mins</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/3 self-start" src="/page-content/wolvhaven(4h)/4h-BERT-WFL.svg"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Semi-Automatic</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/3 self-start" src="/page-content/wolvhaven(4h)/4h-BERT-WML.svg"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Semi-Automatic</p>
                </div>
            </div>
        </div>
        <hr style="height:5pt; visibility:hidden;" />
        <br>
        <h4>Tram</h4>
        <div class="flex w-full flex-col lg:flex-row gap-2">
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Tram1.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Tram2.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow flex gap-5 self-start">
                <img  class="w-1/4 self-start" src="/page-content/wolvhaven(4h)/4h-Tram3.png"/>
                <div>
                    <h4><b>Good Service</b></h4>
                    <p class="mb-0">Manual</p>
                </div>
            </div>
        </div> 
</BaseLayout>