---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('news')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
	<h1>Latest News</h1>
	<div class="flex flex-wrap">
		{
			posts.map((post) => (
				<div class="p-2 w-full lg:w-1/2">
					<a href={`/news/${post.slug}/`}>
						<div class="w-full min-h-full p-6 bg-white border border-gray-200 rounded-lg shadow">
							<img class="w-full rounded-lg" src={post.data.heroImage} alt="" />
							<h4 class="mt-5">{post.data.title}</h4>
							<p>
								<FormattedDate date={post.data.pubDate} />
							</p>
						</div>
					</a>
				</div>
			))
		}
	</div>
</BaseLayout>
