---
const today = new Date();
---

<footer class="p-10 bg-gray-100 border-t">
  <h4>&copy; {today.getFullYear()} WolvHaven &mdash; All rights reserved</h4>
  <div class="max-w-3xl text-sm text-gray-500">
    <p>
      This website is for WolvHaven, a privately-run Minecraft server.
    </p>
    <p>
      Content in this website is for roleplaying/information purposes and
      should not be confused with real-life events or organizations. Any content
      that bears resemblance to real-life individuals or organizations is
      coincidental.
    </p>
    <p>
      Disclaimer: The WolvHaven server is not an official Minecraft server, and is not
      approved, associated, or affiliated with Mojang or Microsoft.
    </p>
  </div>
</footer>
