---
const today = new Date();
---

<footer class="p-10 bg-neutral-200">
	<p class="font-bold">&copy; {today.getFullYear()} WolvHaven. All rights reserved.</p>
	<p class="text-sm text-gray-500">This website is related to WolvHaven – a server within the popular game 'Minecraft'. Content in the website is mostly for roleplaying/information purposes and should not be confused with real-life events or organizations.<br/>Any content that bears resemblance to real-life individuals or organizations is purely coincidental.</p>
</footer>
