---
import HeaderLink from './HeaderLink.astro';
---

<header class="p-2 bg-white m-0">
	<nav class="flex flex-col flex-start p-1 space-y-5">
		<a href="/"><img class="max-w-xs" src="/WolvHavenLogo.png"/></a>
		<div class="flex flex-col flex-start space-y-2">
			<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-slate-300 [&.active]:border-main-50" href="/">Home</HeaderLink>
			<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-slate-300 [&.active]:border-main-50" href="/blog">Blog</HeaderLink>
			<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-slate-300 [&.active]:border-main-50" href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
