---
import HeaderLink from './HeaderLink.astro';
---

<header class="p-5 bg-white m-0 border-b lg:border-b-0 lg:border-r">
	<nav class="flex flex-col flex-start p-1">
		<div class="flex flex-row justify-between">
			<a href="/"><img class="w-2/3 lg:w-full max-w-xs" src="/WolvHavenLogo.png"/></a>
			<a id="toggleNavBar" class="lg:hidden border-2 rounded-lg p-2 self-center"><img id="hamburgerIcon" class="w-5" src="/bars-solid.svg"></a>
		</div>
			
		<div id="navBarItems" class="hidden lg:block flex flex-col flex-start mt-3 space-y-2">
			<div class="flex flex-col flex-start gap-2">
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/">Home</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/news">News</HeaderLink>
			</div>
			<div class="flex flex-col flex-start gap-2">
				<p class="uppercase tracking-widest text-sm text-gray-400 -mb-0.5">Gamemodes & Worlds</p>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/wolvhaven">WolvHaven City</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/city-build">Creative City-Build</HeaderLink>
			</div>
			<div class="flex flex-col flex-start gap-2">
				<p class="uppercase tracking-widest text-sm text-gray-400 -mb-0.5">Information</p>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/rules">Server rules</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/ranks">Ranks</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/staff">Staff</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/commands">Commands &amp; Plugins</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/forms">Application forms</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/culture-safety">Culture & safety</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="/appeal">Appeal a penalty</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="http://play.wolvhaven.net:8123/" target="_blank">Dynmap</HeaderLink>
			</div>
			<div class="flex flex-col flex-start gap-2">
				<p class="uppercase tracking-widest text-sm text-gray-400 -mb-0.5">Socials</p>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="https://www.youtube.com/@WolvHaven">YouTube</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="https://www.instagram.com/wolvhaven/">Instagram</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="www.tiktok.com/@play.wolvhaven.net">TikTok</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="https://bsky.app/profile/wolvhaven.net">Bluesky</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="https://www.facebook.com/WolvHaven">Facebook</HeaderLink>
				<HeaderLink class="py-0.5 px-3 border-l-4 text-black border-transparent hover:border-neutral-300 [&.active]:border-main-50 [&.active]:font-bold" href="https://www.reddit.com/r/WolvHaven/">Reddit</HeaderLink>
			</div>
		</div>
		
	</nav>
</header>

<script>
	const hamburgerBtn = document.getElementById("toggleNavBar")
	const hamburgerIcon = document.getElementById("hamburgerIcon");
	const menuItems = document.getElementById("navBarItems");

	let navBarVisible = false;
	hamburgerBtn.addEventListener("click", ()=> {
		navBarVisible = !navBarVisible;
		if(navBarVisible){
			hamburgerIcon.src = "/xmark-solid.svg"
			menuItems?.classList.remove("hidden");
		}else{
			hamburgerIcon.src = "/bars-solid.svg"
			menuItems?.classList.add("hidden");
		}
	});
</script>